<div class="site-navbar">
    <ul class="navbar-links">
        <li><a href="/home"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span><span class="text"><%= pageText.home %></span></a></li>
        <li><a><span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span><span class="text"><%= pageText.groups %></span></a></li>
        <li><a><span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="text"><%= pageText.messages %></span></a></li>
        <li><a><span class="icon"><i class="fa fa-bell-o" aria-hidden="true"></i></span><span class="text"><%= pageText.notifications %></span></a></li>
    </ul>
    <h3 class="navbar-logo">S</h3>
    <div class="dropdown">
        <a class="settings-dropdown" style="background-image: url(<%= loggedInUser.profilePicture %>);"></a>
        <div class="dropdown-content">
            <div class="caret"></div>
            <div class="view-profile-wrapper">
                <a>
                    <% var name = loggedInUser.name; %>
                    <% var whiteSpaceIndex = name.indexOf(" "); %>
                    <% name = name.substring(0, whiteSpaceIndex); %>
                    <p class="add-16px-margin-left"><%= (name || loggedInUser.name) %></p>
                    <p class="add-16px-margin-left"><%= pageText.viewProfile %></p>
                </a>
            </div>
            <hr/>
            <div>
                <a><p class="list-item-style"><%= pageText.helpText %></p></a>
                <a><p class="list-item-style"><%= pageText.settingsText %></p></a>
            </div>
            <hr/>
            <div>
                <a><p class="list-item-style"><%= pageText.logOutText %></p></a>
            </div>
        </div>
    </div>
    <input class="input-search-field" type="text" placeholder="<%= pageText.search %>">
</div>