<div class="dashboard-card">
    <div class="dashboard-card-content-wrapper font-size-14px">
        <div>
            <p class="dashboard-card-header"><%= pageText.socializerGroupText %></p>
            <small>.</small>
            <a href="<%= loggedInUser.userName %>/groups" class="see-all-groups"><%= pageText.viewAll %></a>
        </div>
        <div>
            <ul style="margin: 0; list-style: none;">
                <% socializerGroups.forEach(function(socializerGroup, index) { %>
                <% if (index != socializerGroups.length - 1) { %>
                <li>
                    <div class="socializer-group" style="overflow: auto; margin-bottom: 10px;">
                        <span class="data-attr" data-user-id="<%= socializerGroups[index].userId %>"></span>
                        <a class="user-picture" style="background-image: url(<%= socializerGroups[index].profilePicture %>); margin-right: 10px;"></a>
                        <p style="margin-top: 13px;">
                            <a style="color: black;"><%= socializerGroups[index].name %></a>
                            <i class="fa fa-times socializer-group" aria-hidden="true"></i>
                        </p>
                    </div>
                </li>
                <% } else { %>
                <li>
                    <div class="socializer-group" style="overflow: auto; margin-bottom: 0px;">
                        <span class="data-attr" data-user-id="<%= socializerGroups[index].userId %>"></span>
                        <a class="user-picture" style="background-image: url(<%= socializerGroups[index].profilePicture %>); margin-right: 10px;"></a>
                        <p style="margin-top: 13px;">
                            <a style="color: black;"><%= socializerGroups[index].name %></a>
                            <i class="fa fa-times socializer-group" aria-hidden="true"></i>
                        </p>
                    </div>
                </li>
                <% } %>
                <% }); %>
            </ul>
        </div>
    </div>
</div>