<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META TAGS -->
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- END META TAGS -->

        <!-- SITE TITLE -->
        <title>Socializer</title>
        <!-- END SITE TITLE -->

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- END FONTS -->

        <!-- CSS FILES -->
        <link rel="stylesheet" href="stylesheets/foundation-css/foundation.min.css" />
        <link rel="stylesheet" href="stylesheets/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" href="stylesheets/user-news-feed.css"/>
        <!-- END CSS FILES -->
    </head>
    <body>
        <!-- SITE HEADER -->
        <div class="site-header">
            <!-- NEWS FEED PAGE NAVBAR -->
            <%- include("../partials/site-navbar.ejs", { loggedInUser: loggedInUser, pageText: pageText }); %>
            <!-- END NEWS FEED PAGE NAVBAR -->
        </div>
        <!-- END SITE HEADER -->

        <!-- SITE CONTENT -->
        <div class="site-content">

            <!-- DASHBOARD CONTAINER -->
            <div class="dashboard-container">

                <!-- LEFT DASHBOARD -->
                <div class="dashboard-left">
                    <!-- PROFILE CARD -->
                    <%- include("../partials/dashboard-profile-card.ejs", { loggedInUser: loggedInUser, pageText: pageText }); %>
                    <!-- END PROFILE CARD -->

                    <!-- PEOPLE YOU MAY KNOW CARD -->
                    <%- include("../partials/potential-friends-card.ejs", { possibleFriends: possibleFriends }); %>
                    <!-- END PEOPLE YOU MAY KNOW CARD -->
                </div>
                <!-- END LEFT DASHBOARD -->

                <!-- CENTER DASHBOARD -->
                <div class="dashboard-center">
                    <!-- INPUT MESSAGE CARD -->
                    <%- include("../partials/new-post-input-field.ejs", { pageText: pageText }); %>
                    <!-- END INPUT MESSAGE CARD -->

                    <!-- SHOW NEWS FEED POSTS -->
                    <% for (var index = 0; index < userPosts.length; index++) { %>
                    <%- include("../partials/news-feed-post.ejs", { userPost: userPosts[index], pageText: pageText, loggedInUser: loggedInUser }); %>
                    <% } %>
                    <!-- END SHOW NEWS FEED POSTS -->

                    <!-- LOADING GIF -->
                    <%- include("../partials/loading-gif-news-feed.ejs"); %>
                    <!-- END LOADING GIF -->
                </div>
                <!-- END CENTER DASHBOARD -->

                <!-- RIGHT DASHBOARD -->
                <div class="dashboard-right">
                    <!-- TRENDING TOPICS CARD -->
                    <%- include("../partials/trending-topics-card.ejs", { trendingTopics: trendingTopics, pageText: pageText }); %>
                    <!-- END TRENDING TOPICS CARD -->

                    <!-- SOCIALIZER GROUP CARDS -->
                    <%- include("../partials/socializer-group-card.ejs", { socializerGroups: socializerGroups, pageText: pageText }); %>
                    <!-- END SOCIALIZER GROUPS CARD -->

                    <!-- SELECT LANGUAGE CARD -->
                    <%- include("../partials/select-language-card.ejs"); %>
                    <!-- END SELECT LANGUAGE CARD -->
                </div>
                <!-- END RIGHT DASHBOARD -->

            </div>
            <!-- END DASHBOARD CONTAINER -->

        </div>
        <!-- END SITE CONTENT -->

        <!-- BACK TO TOP ARROW -->
        <a class="back-to-top" href="#top">
            <div class="arrow-box">
                <i class="fa fa-arrow-up large-arrow" aria-hidden="true"></i>
            </div>
        </a>
        <!-- END BACK TO TOP ARROW -->

        <!-- SITE FOOTER -->
        <div class="site-footer"></div>
        <!-- END SITE FOOTER -->

        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript" src="javascripts/foundation-js/jquery.js"></script>
        <script type="text/javascript" src="javascripts/foundation-js/foundation.min.js"></script>
        <script type="text/javascript" src="javascripts/foundation-js/what-input.js"></script>
        <script type="text/javascript" src="javascripts/foundation-js/run-foundation.js"></script>
        <script type="text/javascript" src="javascripts/user-news-feed.js"></script>
        <!-- END JAVASCRIPT FILES -->
    </body>
</html>