<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META TAGS -->
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- END META TAGS -->

        <!-- SITE TITLE -->
        <title>Socializer</title>
        <!-- END SITE TITLE -->

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <!-- END FONTS -->

        <!-- CSS FILES -->
        <link rel="stylesheet" href="../../stylesheets/foundation-css/foundation.min.css" />
        <link rel="stylesheet" href="../../stylesheets/font-awesome/font-awesome.min.css" />
        <link rel="stylesheet" href="../../stylesheets/user-profile-page.css"/>
        <!-- END CSS FILES -->
    </head>
    <body>
        <!-- SITE HEADER -->
        <div class="site-header">
            <!-- NEWS FEED PAGE NAVBAR -->
            <%- include("../partials/site-navbar.ejs", { loggedInUser: loggedInUser, pageText: pageText }); %>
            <!-- END NEWS FEED PAGE NAVBAR -->
        </div>
        <!-- END SITE HEADER -->

        <!-- SITE CONTENT -->
        <div class="site-content">
            <div class="profile-container">
                <div class="profile-header">
                    <div class="top-section-base" style="background-image: url(../../images/campfire.jpg);"></div>
                    <div class="bottom-section-base">
                        <div class="profile-picture" style="background-image: url(../../images/random-guy-2.jpg);"></div>
                        <div class="tab-menu">
                            <ul>
                                <li><a href="/<%= loggedInUser.userName %>">Timeline</a></li>
                                <li><a href="/<%= loggedInUser.userName %>/about">About</a><span class="profile-section-caret"></span></li>
                                <li><a href="/<%= loggedInUser.userName %>/friends">Friends</a></li>
                                <li><a href="/<%= loggedInUser.userName %>/photos">Photos</a></li>
                                <li><a href="/<%= loggedInUser.userName %>/videos">Videos</a></li>
                                <li><a href="/<%= loggedInUser.userName %>/groups">Socializer Groups</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rendered-tab-view"></div>
            </div>
        </div>
        <!-- END SITE CONTENT -->

        <!-- BACK TO TOP ARROW -->
        <a class="back-to-top" href="#top">
            <div class="arrow-box">
                <i class="fa fa-arrow-up large-arrow" aria-hidden="true"></i>
            </div>
        </a>
        <!-- END BACK TO TOP ARROW -->

        <!-- SITE FOOTER -->
        <div class="site-footer"></div>
        <!-- END SITE FOOTER -->

        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript" src="../../javascripts/foundation-js/jquery.js"></script>
        <script type="text/javascript" src="../../javascripts/foundation-js/foundation.min.js"></script>
        <script type="text/javascript" src="../../javascripts/foundation-js/what-input.js"></script>
        <script type="text/javascript" src="../../javascripts/foundation-js/run-foundation.js"></script>
        <script type="text/javascript" src="../../javascripts/user-profile-page.js"></script>
        <!-- END JAVASCRIPT FILES -->
    </body>
</html>